<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<button id="show-sidebar-btn" class="floating-button hidden">☰</button>

<nav class="sidebar">
    <div class="top-bar">
    <div class="menu-icon" id="toggle-menu">
        <i class="fas fa-bars"></i> <!-- Ícono de menú -->
    </div>
     <!-- Botón Home -->
     <button class="home-btn" onclick="location.href='../index.html'">
        HOME <i class="fas fa-home"></i>
    </button>
    </div>

    <!-- Información del usuario -->
    <div class="user-info">
        <div class="top-bar">
        <div class="avatar">N</div>
        <span class="user-name">NOMBRE APELLIDO</span>
    </div>
    </div>

    <!-- Botón de Crear Reserva -->
    <button class="dropdown-btn">PARKING THE BEAST</button>

    <!-- Menú de navegación -->
    <ul class="menu">
        <li><a href="seeReservation.html">Ver Reservas</a></li>
        <li><a href="seePersonalData.html">Configuración</a></li>
        <li><a href="createPQR.html">PQR</a></li>
    </ul>
    <div class="logo">
        
    </div>
</nav>
